<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="kestrel">
      <section name="cluster1" type="Primelabs.Twingly.KestrelApi.Configuration.KestrelClusterConfigurationSection, KestrelApi" />
    </sectionGroup>

  </configSections>

  <kestrel>
    <cluster1 servers="127.0.0.1:22133" maxNumberOfMessageInBatch="50">
    </cluster1>
  </kestrel>
  
</configuration>